{% extends 'base.html' %}
{% block title %}Востановление пароля{% endblock %}
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <main class="col-3" style="margin-top: 50px; margin-left: 360px;">
        <div class="mb-3 border-bottom">
            <span class="fs-4">Введите почту для востановления пароля:</span>
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="card text-light bg-secondary text-center">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}

                </div>
                <div class=" text-center pb-2">
                    <button type="submit" class="btn btn-primary me-2"> Сбросить по E-mail</button>
                </div>
            </div>

        </form>

    </main>
    {% endblock %}