{% extends 'base.html' %}
{% block title %}Востановление пароля{% endblock %}
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <main class="col-3" style="margin-top: 50px; margin-left: 360px;">
        <div class="mb-3 border-bottom">
            <span class="fs-4">Пароль изменен!</span>
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="card text-light bg-secondary text-center">
                <a href="{% url 'users:login' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Войти в систему</a>
            </div>

        </form>

    </main>
    {% endblock %}