{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <main class="col-8" style="margin-top: 50px;">
        <div class="pb-3 mb-5 border-bottom">
            <span class="fs-4">Информация о рассылке:</span>
        </div>
        <p><span class="fw-bold me-2">Дата начала отправки:</span>
            <span class="fst-italic">{{object.start_mail}}</span></p>
        <p><span class="fw-bold me-2">Дата окончания отправки:</span>
            <span class="fst-italic">{{object.end_mail}}</span></p>
        <p><span class="fw-bold me-2">Получатель:</span>
            <span class="fst-italic">
                {% if object.recipient == None%}Отсутствует
                {% else %} {{object.recipient}}
                {%endif%}</span></p>
        <p><span class="fw-bold me-2">Статус:</span>
            <span class="fst-italic">{{object.status}}</span></p>
        <p><span class="fw-bold me-2">Владелец:</span>
            <span class="fst-italic">&&&&&&</span></p>
        <p class="mb-5"><span class="fw-bold me-2">Сообщение:</span>
            <span class="fst-italic">{{object.message}}</span></p>

        <div>
            <a href="{% url 'newsletter:newsletters' %}" class="btn btn-secondary me-2">Назад</a>
            <a href="#" class="btn btn-primary me-2">Редактировать</a>
            <a href="#" class="btn btn-danger me-2">Удалить</a>
        </div>
        <hr class="col-1 col-md-2">


    </main>
    {% endblock %}