<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Главная{% endblock %}</title>
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/cover.css" rel="stylesheet">

</head>
<body class="text-bg-dark h-100">

<div class="d-flex w-100 h-100 p-3 flex-column">
    <header class="container-sm">
        <div>
            <h3 class="float-md-start"><a class="nav-link" href="{% url 'newsletter:main' %}">Newslet</a></h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'newsletter:newsletters' %}">Рассылки</a>
                <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{% url 'newsletter:recipient' %}">Клиенты</a>
                <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{% url 'newsletter:message' %}">Сообщения</a>
                {% if user.is_authenticated %}
                <a class="nav-link fw-bold py-1 px-0 text-warning dropdown-toggle" id="navbarDarkDropdownMenuLink"
                   role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">{{ user.email }}</a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'users:detail_user' user.id %}">Обо мне</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
                </ul>
                {% else %}
                <a class="nav-link fw-bold py-1 px-0 text-warning" href="{% url 'users:login' %}">Войти</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <hr>

    {% block content %}
    {% endblock%}

</div>

<script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>

