{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="row">
    <div class="col-4"></div>
    <main class="col-4 text-center" style="margin-top: 300px;">
        <h1>Расскажем обо всём!</h1>
        <p class="lead">Дорогой друг, наш сервис поможет тебе предупредить о важной информации ваших: партнеров,
            близких, сотрудников.</p>
        {% if not user.is_authenticated %}
        <p class="lead">
            <a href="{% url 'users:login' %}" class="btn btn-lg btn-light fw-bold border-white bg-white">Присоединиться</a>
        </p>
        {% endif %}
    </main>
    <div class="col-4"></div>
</div>


<div class="container px-4" id="featured-3" style="margin-top: 270px;">
    <hr>
    <ul class="row g-4 row-cols-1 row-cols-lg-3 py-3">
        <li class="fw-bold">Создано рассылок - {{ object_list|length }}</li>
        <li class="fw-bold">Количество активных рассылок - {{ active_newsletter }}</li>
        <li class="fw-bold">Людей получившие рассылки - {{ unique_recipient }}</li>
    </ul>
</div>
{% endblock %}



